<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Using Style font-size color font name in HTML</title>
</head>
<body style="background-color:rgb(172, 158, 184);">
    <center>
    <h1 style="font-size: 32px; color: red; ">
        Random Paragraph Generator
    </h1>
    
    <p style="font-size: 18px; color: rgb(0, 0, 0); background-color: rgb(61, 156, 238);
        font-family: Arial, Helvetica, sans-serif;">
       Ancient manuscripts also divided sentences into paragraphs with line breaks (newline) <br>
       followed by an initial at the beginning of the next paragraph. An initial is an oversized 
       capital letter, sometimes outdented beyond the margin of the text. This style can be seen, 
       for example, in the original Old English manuscript of Beowulf. Outdenting is still used 
       in English typography, though not commonly.[2] Modern English typography usually indicates
       a new paragraph by indenting the first line. This style can be seen in the (handwritten) 
       United States Constitution from 1787. For additional ornamentation, a hedera leaf or other <br>
       symbol can be added to the inter-paragraph white space, or put in the indentation space.

    </p>
    <h1 style="color: rgb(10, 117, 42); font-size: 32px; font-family: 'Times New Roman', Times, serif;">
        Creativ Writing
    </h1>
   
    </center>

</body>
</html>