<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excercise1</title>
    <link href="https://fonts.googleapis.com/css2?family=Bokor&family=Moul&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bokor&family=Moul&family=Tagesschrift&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bokor&family=Moul&family=Tagesschrift&display=swap" rel="stylesheet">
</head>
<body style="background-color: rgb(188, 190, 190);">
    <center>
        <h1 style="font-size: 42px; font-family: Moul; color: green;">
            ការកំណត់ពណ៌​ ទំហំ និងម៉ូតអក្សរ​របស់អត្ថបទ</h1><br>
        <h2 style="font-family: 'Times New Roman', Times, serif; font-size: 32px;color: red; ">
            Using Style Color in HTML</h2> <br>
        <P style="color: rgb(224, 149, 51); font-family: Tagesschrift; font-size: 18px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
            sed diam nonummy <br>nibh euismod tincidunt ut brlaoreet dolore 
            magna aliquam erat volutpat.</P>
        <p style="color: rgb(30, 30, 146); font-family: Anton; font-size: 18px;">Ut wisi enim ad minim veniam, 
            quis nostrud exerci tation ullamcorper 
            suscipit lobortis <br>nisl ut aliquip ex ea commodo consequat.</p>    

    </center>
    
</body>
</html>