<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Font & Color From HTML</title>
    <link href="https://fonts.googleapis.com/css2?family=Moul&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bokor&family=Moul&display=swap" rel="stylesheet">
</head>
<body>
    <center>
        <font face="Moul" size="7">ព្រះរាជាណាចក្រកម្ពុជា</font><br>
        <font face="Bokor" size="6" color="red">ជាតិ សាសនា ព្រះមហាក្សត្រ</font><br>
        <font color = "green" size="10" face="Times New Roman">Color Green</font><br>
        <font color = "blue" size="7" face="verdana">Color Blue</font><br>
        <font color = "red" size="4" face="Comic sans MS">Color Red</font><br>
        <font color = "gold" size="3" face="Cascadia Mono">Color Yellow</font><br>
    </center>
    
</body>
</html>