<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create hader & paragraph</title>
</head>
<body>
    <!-- create header h1..h6 -->
     <h1>Welcome to heading 1</h1>
     <h2>Welcome to heading 2</h2>
     <h3>Welcome to heading 3</h3>
     <h4>Welcome to heading 4</h4>
     <h5>Welcome to heading 5</h5>
     <h6>Welcome to heading 6</h6>
     <!-- create parapraph using text -->
      <p>
        <b><sup>Qui</sup> cupiditate amet est animi repudiandae vel vero </b> <br> 
        <em>fuga qui tempora iste rem soluta explicabo et molestias</em> <br> 
        <b><em>sunt aut suscipit delectus?<mark> At dolorum placeat et omnis</mark></em></b><br>
        <strong>repellendus qui doloremque molestiae. Quo praesentium</strong> <br>
        <del>atque et ducimus necessitatibus et saepe rerum et explicabo</del> <br>
        <ins>nemo est voluptas <sub>suscipit.</sub></ins>
      </p>
</body>
</html>