<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to multiple Media</title>
    <link rel="stylesheet" href="../css/media.css">
</head>
<body>
    <h1>Song mp3</h1>
    <audio controls>
        <source src="../Sound/ទទួលយកការពិត By Mustache Band [ LYRICS AUDIO ] Original Song.mp3" type="audio/mp3">
    </audio> &nbsp;&nbsp;
    <audio controls>
        <source src="../Sound/បំណងស្នេហ៍ [Kimly & Socheata].mp3" type="audio/mp3">
    </audio> &nbsp;&nbsp;
    <audio controls>
        <source src="../Sound/អូនជាព្រះនាង - Noly Records.mp3" type="audio/mp3">
    </audio> &nbsp;&nbsp;
    <h1>Video mp4</h1>
    <video controls height="250px">
        <source src="../Video/Olica - ជំហានទី ១ (First Step) Olica & Vithyeas wedding song (Prod. by NICK IT) [OFFICIAL MV].mp4" type="video/mp4">
    </video> &nbsp;&nbsp;
    <video controls height="250px">
        <source src="../Video/បទ _ គេល្អទេ Ke laor Te  [ Live at The Water].mp4" type="video/mp4">
    </video> &nbsp;&nbsp;
    <video controls height="250px">
        <source src="../Video/ស្រលាញ់អូនរយពាន់មុឺនឆ្នាំ - [OFFICIAL MV _ Kimse Feat. Noly Records].mp4" type="video/mp4">
    </video>
    <h1>Video Youtube</h1>
    <iframe width="400" height="250" src="https://www.youtube.com/embed/G9rJC-cD_hk?list=RDG9rJC-cD_hk" title="Tena - បងក្រ Feat. YCN Rakhie" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="400" height="250" src="https://www.youtube.com/embed/RRRlbfMbyfA?list=RDRRRlbfMbyfA" title="បំណងស្នេហ៍ / The Prososal Sing by: Propey - ប្រពៃ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="400" height="250" src="https://www.youtube.com/embed/rSLd11XlXY4?list=RDrSLd11XlXY4" title="Glomyy Vincent - មនុស្សពិសេស Special Someone (SS) ft. Olica | Live Acoustic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>
        
    