<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to multiple Media</title>
    <link rel="stylesheet" href="../css/media.css">
</head>
<body>
    <h1>Song mp3</h1>
    <audio controls>
        <source src="../Sound/ឲ្យអូនចេញក្រៅធ្វើការ ដូចឲ្យអូនទៅមានថ្មី - សៅ ឧត្តម [LYRIC AUDIO].mp3" type="audio/mp3">
    </audio> &nbsp;&nbsp;
    <audio controls>
        <source src="../Sound/គេចង់នៅម្នាក់ឯង ___ ប៉ៃ ដាវីឌ.mp3" type="audio/mp3">
    </audio> &nbsp;&nbsp;
    <audio controls>
        <source src="../Sound/ភ្លេច _ FORGOTTEN - ZONO _ OFFICIAL LYRIC VIDEO 4.mp3" type="audio/mp3">
    </audio> &nbsp;&nbsp;
    <h1>Video mp4</h1>
    <video controls height="250px">
        <source src="../Video/Jady - Lost (Remix) ft. Meezy24k & YCN Tomie [ OFFICIAL MUSIC VIDEO ].mp4" type="video/mp4">
    </video> &nbsp;&nbsp;
    <video controls height="250px">
        <source src="../Video/Nita - អូនទេអ្នកល្ងង់ (Official Music VIdeo).mp4" type="video/mp4">
    </video> &nbsp;&nbsp;
    <video controls height="250px">
        <source src="../Video/TEPPISETH - យប់ស្ងាត់_QUIET NIGHT (MUSIC VIDEO).mp4" type="video/mp4">
    </video>
    <h1>Video Youtube</h1>
    <iframe width="400" height="250" src="https://www.youtube.com/embed/qxG8_5_7Soo?list=RDqxG8_5_7Soo" title="តើប្រើពេលប៉ុន្មានទើបអាចភ្លេចអូន - ធុច ចន្ថា  ( Official Music Video )" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
    <iframe width="400" height="250" src="https://www.youtube.com/embed/G9rJC-cD_hk?list=RDG9rJC-cD_hk" title="Tena - បងក្រ Feat. YCN Rakhie" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     <iframe width="400" height="250" src="https://www.youtube.com/embed/9RtztwfRmk0?list=RD9RtztwfRmk0" title="លទ្ធផលមនុស្សកំដរ || WIP ZONE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
</body>
</html>
        
    